services:
  - type: web
    name: portfolio-backend
    env: node
    branch: main
    plan: free
    region: oregon
    buildCommand: cd server && npm install
    startCommand: cd server && npm start

  - type: static
    name: portfolio-frontend
    env: static
    branch: main
    plan: free
    region: oregon
    root: client
    buildCommand: npm install && npm run build
    publishPath: dist
